{% extends "cycles/index.html" %}

{% block content %}
<h1 class="m-5">Add a One-Time Bill</h1>
<form action="{% url 'cycles:addOneTime' cycle.id %}" method="post">
    {% csrf_token %}
    <label class="m-5">
        <h3>Name: </h3>
    </label>
    <h3 class='d-inline'><input type="text" name="name" /></h3>
    <br>
    <label class='m-5' for="amount">
        <h3>Amount:</h3>
    </label>
    <h3 class='d-inline'><input type="text" name="amount"/></h3>
    <br>
    <input type="submit" value="Save" class="btn btn-primary btn-lg m-5" />
</form>

{% endblock %}