{% extends "cycles/index.html" %}

{% block content %}
<h1 class="m-5">Add a Tenant </h1>

<form action="{% url 'cycles:addTenant' %}" method='POST'>
    {% csrf_token %}
    <label class="m-5" for="name">
        <h3>Name</h3>
    </label>
    <h3 class='d-inline'><input type="text" name="name" /></h3>
    <br>
    <label class='m-5' for="income">
        <h3>Household Income:</h3>
    </label>
    <h3 class='d-inline'><input type="text" name="income" /></h3>
    <br>
    <input type="submit" value="Save" class="btn btn-primary btn-lg m-5" />
</form>
{% endblock content %}