{% extends "cycles/index.html" %}

{% block content %}

{% if cycle.inactive == 0 %}
<a href="{% url 'cycles:cycleLock' cycle.id %}"><button class="btn btn-danger btn-sm">Lock Billing Cycle</button></a>
{% endif %}

{% if cycle.inactive == 1 %}
<a href="{% url 'cycles:cycleLock' cycle.id %}"><button class="btn btn-primary btn-sm">Unlock Billing Cycle</button></a>
{% endif %}

<br>
<br>

<!-- <form action="{% url 'cycles:cycleLock' cycle.id %}" method="post">
    {% csrf_token %}
    <div class="custom-control custom-switch">
        <input type="checkbox" onChange="this.form.submit()" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1">LOCK Billing Cycle</label>
    </div>
</form> -->

<p>Cycle: {{ cycle.name }} End Date: {{ cycle.endDate }} </p>


{% if cycle.inactive == 0 %}
{% for tenant in currentTenants %}
<p>{{ tenant.name }} owes ${{ duePerTenant|floatformat:2 }}</p>
{% endfor %}
<br>
<p>Recurring Bills</p>
{% for bill in recurringBills%}

<p>{{ bill.name }} ${{ bill.amount }} <a href="{% url 'cycles:editBillForm' bill.id %}"><button
            class="btn btn-primary btn-sm">Edit</button></a></p>

{% endfor %}

Total due for Recurring Bills: ${{ recurringBillsDue.amount__sum|floatformat:2 }}
<br>
<a href="{% url 'cycles:addRecurringFormDetail' cycle.id %}"><button class="btn btn-primary btn-sm">Add Recurring Bill</button></a>
<br>
<br>
<br>
<p>One-Time Bills</p>
{% for bill in oneTimeBills%}
<p>{{ bill.name }} ${{ bill.amount }} <a href="{% url 'cycles:editBillForm' bill.id %}"><button
            class="btn btn-primary btn-sm">Edit</button></a>
    <a href="{% url 'cycles:deleteBill' bill.id %}"><button class="btn btn-danger btn-sm">Delete</button></a></p>
{% endfor %}

Total due for One-Time Bills: ${{ oneTimeBillsDue.amount__sum|floatformat:2 }}
<br>
<a href="{% url 'cycles:addOneTimeForm' cycle.id %}"><button class="btn btn-primary btn-sm">Add One-Time
        Bill</button></a>
<br>
Total due for billing cycle: ${{ allBillsDue.amount__sum|floatformat:2 }}
{% endif %}



{% if cycle.inactive == 1 %}
{% for tenant in currentTenants %}
<p>{{ tenant.name }} owes ${{ duePerTenant|floatformat:2 }}</p>
{% endfor %}
<br>
<p>Recurring Bills</p>
{% for bill in recurringBills%}

<p>{{ bill.name }} ${{ bill.amount }} </p>

{% endfor %}

Total due for Recurring Bills: ${{ recurringBillsDue.amount__sum|floatformat:2 }}
<br>
<br>
<br>
<br>
<p>One-Time Bills</p>
{% for bill in oneTimeBills%}
<p>{{ bill.name }} ${{ bill.amount }} </p>
{% endfor %}

Total due for One-Time Bills: ${{ oneTimeBillsDue.amount__sum|floatformat:2 }}
<br>
<br>
Total due for billing cycle: ${{ allBillsDue.amount__sum|floatformat:2 }}
{% endif %}

{% endblock %}