{% extends "cycles/index.html" %}

{% block content %}
<div class="maxWidth">

    <br>
    <br>

    <h2 class='mx-5 center'>{{ cycle.name }} Cycle</h2>
    <h2 class='mx-5 center'>End Date: {{ cycle.endDate }}</h2>
    <div class='center'>
        {% if cycle.inactive == 0 %}
        <a href="{% url 'cycles:cycleLock' cycle.id %}"><button
                class="btn btn-primary btn-md">Lock Billing
                Cycle</button></a>
        {% endif %}

        {% if cycle.inactive == 1 %}
        <a href="{% url 'cycles:cycleLock' cycle.id %}"><button
                class="btn btn-primary btn-md">Unlock Billing
                Cycle</button></a>
        {% endif %}

        {% if cycle.split == 0 %}
        <a href="{% url 'cycles:percentSplit' cycle.id %}"><button
                class="btn btn-primary btn-md ">Split Bills by Income
                %</button></a>
        {% endif %}

        {% if cycle.split == 1 %}
        <a href="{% url 'cycles:percentSplit' cycle.id %}"><button
                class="btn btn-primary btn-md">Split Bills
                Evenly</button></a>
        {% endif %}
    </div>
    {% if cycle.split == 0 %}

    <table class="table table-striped mx-5 mt-3">
        <thead>
            <tr>
                <th scope="col">Bills</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Recurring</th>
                <td>${{ recurringBillsDue.amount__sum|floatformat:2 }}</td>
            </tr>
            {% if oneTimeBillsDue.amount__sum is None %}
            <tr>
                <th scope="row">One-Time</th>
                <td>$0.00</td>
            </tr>
            {% else %}
            <tr>
                <th scope="row">One-Time</th>
                <td>${{ oneTimeBillsDue.amount__sum|floatformat:2 }}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Total for {{ cycle.name }}</th>
                <td>${{ allBillsDue.amount__sum|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-striped mx-5 mt-3">
        <thead>
            <tr>
                <th scope="col">Individual Responsibility</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for tenant in currentTenants %}
            <tr>
                <th scope="row">{{ tenant.name }}</th>
                <td>${{ duePerTenant|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if cycle.split == 1 %}

    <table class="table table-striped mx-5 mt-3">
        <thead>
            <tr>
                <th scope="col">Bills</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Recurring</th>
                <td>${{ recurringBillsDue.amount__sum|floatformat:2 }}</td>
            </tr>
            <tr>
                <th scope="row">One-Time</th>
                <td>${{ oneTimeBillsDue.amount__sum|floatformat:2 }}</td>
            </tr>
            <tr>
                <th scope="row">Total for {{ cycle.name }}</th>
                <td>${{ allBillsDue.amount__sum|floatformat:2 }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-striped mx-5 mt-3">
        <thead>
            <tr>
                <th scope="col">Individual Responsibility</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for tenant, due in percentAmtDue.items %}
            <tr>
                <th scope="row">{{ tenant }}</th>
                <td>${{ due|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

    <br>
    {% if cycle.inactive == 0 %}
    <table class="table table-striped mx-5 mt-3">
        <thead>
            <tr>
                <th scope="col">Recurring Bills</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in recurringBills%}
            <tr>
                <th scope="row">{{ bill.name }}</th>
                <td>${{ bill.amount }} <a href="{% url 'cycles:editBillForm' bill.id %}"><button
                            class="btn btn-primary btn-sm ml-3">Edit</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'cycles:addRecurringFormDetail' cycle.id %}"><button class="btn btn-primary btn-sm mx-5">Add
            Recurring
            Bill</button></a>
    <br>
    <br>
    <table class="table table-striped mx-5 mt-3">
        <thead>
            <tr>
                <th scope="col">One-Time Bills</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in oneTimeBills%}
            <tr>
                <th scope="row">{{ bill.name }}</th>
                <td>${{ bill.amount }} <a href="{% url 'cycles:editBillForm' bill.id %}"><button
                            class="btn btn-primary btn-sm ml-3">Edit</button></a><a
                        href="{% url 'cycles:deleteBill' bill.id %}"><button
                            class="btn btn-danger btn-sm ml-3">Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'cycles:addOneTimeForm' cycle.id %}"><button class="btn btn-primary btn-sm mx-5">Add One-Time
            Bill</button></a>
    <br>
    {% endif %}


    {% if cycle.inactive == 1 %}
    <table class="table table-striped mx-5 mt-3">
        <thead>
            <tr>
                <th scope="col">Recurring Bills</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in recurringBills%}
            <tr>
                <th scope="row">{{ bill.name }}</th>
                <td>${{ bill.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <table class="table table-striped mx-5 mt-3">
        <thead>
            <tr>
                <th scope="col">One-Time Bills</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in oneTimeBills%}
            <tr>
                <th scope="row">{{ bill.name }}</th>
                <td>${{ bill.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </a>
    <br>
    {% endif %}
</div>
{% endblock %}