<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Pony Up</a>

    <ul class="nav">

            <li class="nav-item">
                <a href="{% url 'cycles:tenantlist' %}" class="nav-link ponynav"><i class="far fa-user-circle"></i> Manage
                    Tenants</a></li>
            <li class="nav-item">
                <a href="{% url 'cycles:recurringlist' %}" class="nav-link ponynav"><i class="far fa-user-circle"></i>
                    Manage
                    Recurring Catgories</a></li>
            <li class="nav-item">
                <a href="{% url 'cycles:newCycleForm' %}" class="nav-link ponynav"><i class="far fa-calendar-alt"></i>
                    Create New Cycle</a></li>
            <li class="nav-item">
                <a href="{% url 'cycles:logout' %}" class="nav-link ponynav"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>

    </ul>
</nav>