{% extends "cycles/index.html" %}

{% block content %}
<form id="" method="post" action="{% url 'cycles:newCycle' %}">
    {% csrf_token %}
    <h2>What is the name and end date of this new billing cycle?</h2><br>
    {{ cycle_form }}
    <br><br>
    <h2>Who is responsible for bills during this billing cycle?</h2>
    {% for tenant in tenants %}
    <input type="checkbox" name="tenant[]" value="{{ tenant.id }}">{{ tenant.name }}<br>
    {% endfor %}
    <br>
    <input type="submit">
</form>

{% endblock %}