<!DOCTYPE html>
<html>

<head>
    <title>Pony Up!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    <h1 class='m-5'>Register with Pony Up</h1>

    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="{% url 'cycles:index' %}">Return to the homepage.</a><br />
    {% else %}
    <strong class='m-5'>Register here!</strong><br />

    <form class='m-5' id="user_form" method="post" action="{% url 'cycles:register' %}" enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
        {{ user_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" class="btn btn-primary btn-lg"/>
    </form>
    {% endif %}
</body>

</html>